{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prismjs/prism.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='prismjs/prism.js') }}"></script>
{% endblock %}

<!-- Template of non-uglified ad tag: -->
<!--
window.onload = function () {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", 'http://lidheza.com/fetch/leaderboard-728x90', false ); // false for synchronous request
    xmlHttp.send( null );
    document.write(xmlHttp.responseText);
}
-->

{% block rows %}
<div class="row" style="padding:0 14% 0 14%;">
    {% for available_ad_space in available_ad_spaces %}
        <div class="col-sm-12">
            <h3>{{ available_ad_space['label'] }}</h3>
            <div>
                <pre>
<code class="language-markup">
&lt;div&gt;
  &lt;script&gt;
    var a=new XMLHttpRequest;a.open("GET","http://lidheza.com/fetch/{{ available_ad_space['id'] }}",!1),a.send(null),
    document.write(a.responseText);
  &lt;/script&gt;
&lt;/div&gt;
</code>
                </pre>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}