{% extends "layout.html" %}

{% block rows %}
    <div class="row">
        <div class="col-sm-12">
            <!-- Turn this into code sniplet
            <div class="ldz ldz-500x400">
                <script>
                    window.onload = function () {
                        var tag = document.getElementsByClassName('ldz-500x400')[0];
                        tag.setAttribute('style', 'background-image: url("https://placehold.it/500x400");width:500px; height:400px;')
                    }
                </script>
            </div>
        </div>
    </div>
{% endblock %}