{% extends "layout.html" %}

{% block script %}
    <script>
        $(function() {
            $( ".btn-edit-stopped" ).click(function() {
                editCampaign(this, 'stopped-campaign-id');
            });

            $( ".btn-edit-published" ).click(function() {
                editCampaign(this, 'published-campaign-id');
            });

            $( ".btn-edit-draft" ).click(function() {
                editCampaign(this, 'draft-campaign-id');
            });

            $( ".btn-play-draft" ).click(function() {
                publishCampaign(this, 'draft-campaign-id');
            });

            $( ".btn-play-stopped" ).click(function() {
                publishCampaign(this, 'stopped-campaign-id');

            });

            $( ".btn-delete-stopped" ).click(function() {
                deleteCampaign(this, 'stopped-campaign-id');
            });

            $( ".btn-delete-draft" ).click(function() {
                deleteCampaign(this, 'draft-campaign-id')
            });

            $( ".btn-stop-published" ).click(function() {
                var campaign_id = $(this).parent().find('input[id=published-campaign-id]').val();
                var action = '{{ url_for('publisher.campaign_pause', pid=publisher._id, campaign_id='XXX')}}'.replace('XXX', campaign_id);

                $('.form-published').attr('method', 'POST');
                $('.form-published').attr('action', action);
                $('.form-published').submit();
            });

            function deleteCampaign(source, campaignIDFormElementInputId){
                var form = $(source).parent();
                var campaign_id = form.find('input[id=' + campaignIDFormElementInputId + ']').val();
                var action = '{{ url_for('publisher.campaign_delete', pid=publisher._id, campaign_id='XXX')}}'.replace('XXX', campaign_id);

                form.attr('method', 'POST');
                form.attr('action', action);
                form.submit();
            }

            function publishCampaign(source, campaignIDFormElementInputId){
                var form = $(source).parent();
                var campaign_id = form.find('input[id=' + campaignIDFormElementInputId + ']').val();
                var action = '{{ url_for('publisher.campaign_publish', pid=publisher._id, campaign_id='XXX')}}'.replace('XXX', campaign_id);

                form.attr('method', 'POST');
                form.attr('action', action);
                form.submit();
            }

            function editCampaign(source, campaignIDFormElementInputId){
                var form = $(source).parent();
                var campaign_id = form.find('input[id=' + campaignIDFormElementInputId + ']').val();
                var action = '{{ url_for('publisher.campaign_edit', pid=publisher._id, campaign_id='XXX')}}'.replace('XXX', campaign_id);

                form.attr('method', 'GET');
                form.attr('action', action);
                form.submit();
            }

            // Listener - Triggered when the share button is clicked/shown
            // so that we can store the campaign id in a hidden field and it
            // can be accessed when submitting the modal.
            $('.campaign-share-modal').on('show.bs.modal', function (event) {
                var triggerButton = $(event.relatedTarget);
                var campaignId = triggerButton.data('campaign-id');
                var advertiserEmail = triggerButton.data('advertiser-email');

                $('#share-advertiser-email').val(advertiserEmail);
                $('#share-campaign-id').val(campaignId);
            });

            $( ".btn-share-campaign" ).click(function() {

                // Send the share e-mail.
                $.ajax({
                    url: "{{  url_for('mail.campaign_stats') }}",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "to": $('#share-advertiser-email').val(),
                        "publisherId": "{{ publisher._id }}",
                        "publisherName": "{{ publisher.name }}",
                        "campaignId": $('#share-campaign-id').val(),
                    })
                }).done(function() {
                    // Close the modal.
                    $('.campaign-share-modal').modal('hide');

                }).fail(function() {
                    $('.campaign-share-modal').modal('hide');
                    $('#global-alert-error-msg').html('Campaign stats not shared, please contact help@lidheza.com.');

                    $("#global-alert-error").fadeTo(5000, 500).fadeOut(2000, function(){
                        $("#global-alert-error").hide();
                    });
                });
            });
        });

    </script>
{% endblock %}

{% block rows %}

    <div class="row">
        <div class="col-sm-12">
            <h2>{{ publisher.name }}</h2>
            <h4>Your default rate is <span class="label label-primary">{{ publisher.impressionRate }} EUR</span> per impression (<a href="" data-toggle="modal" data-target="#myModal">edit</a>).</h4>
            <hr>
        </div>

        <div class="col-sm-12 text-center" style="padding-bottom:25px;">
            <form action="{{ url_for('publisher.campaign_create', pid=publisher._id) }}" method="GET">
                <input type="submit" class="btn btn-success btn-campaign" value="New Campaign">
            </form>
        </div>


        <!-- FINISHED -->
        {% if finished_campaigns|length > 0 %}
        <div class="col-sm-12">
            <h3>Finished</h3>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Outcome</th>
                        <th>Length</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Impressions</th>
                        <th>Rate</th>
                        <th>Revenue Goal</th>
                        <th>Final Revenue</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for campaign in finished_campaigns %}
                    <tr>
                        <td>
                            <a href="{{ campaign.url }}" target="_blank">{{ campaign.name }}</a>
                        </td>
                        <td>
                            <span class="label label-{{ 'success' if campaign.impressions.count >= campaign.impressions.goal else 'danger' }}">{{ 'completed' if campaign.impressions.count >= campaign.impressions.goal else 'expired  ' }}</span>
                        </td>
                        <td>
                            {{ (campaign.end - campaign.start).days }} days
                        </td>
                        <td>
                            {{ campaign.start.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.end.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.impressions.count|thousands_seperator }} / {{ campaign.impressions.goal|thousands_seperator }}
                        </td>
                        <td>
                            {{ campaign.impressions.rate }}
                        </td>
                        <td>
                            {{ (campaign.impressions.goal * campaign.impressions.rate - (campaign.impressions.goal * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            {{ (campaign.impressions.count * campaign.impressions.rate - (campaign.impressions.count * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            <form class="form-published" action="" method="">
                                <input type="hidden" id="published-campaign-id" value="{{ campaign._id }}"/>
                                <button type="button" class="btn btn-default btn-default btn-sm btn-share-completed" aria-label="Share" data-advertiser-email="{{ campaign.advertiserEmail }}" data-campaign-id="{{ campaign._id }}" data-toggle="modal" data-target=".campaign-share-modal">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-success btn-sm btn-archive" aria-label="Archive">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% endif %}


        <!-- PUBLISHED -->
        {% if published_campaigns|length > 0 %}
        <div class="col-sm-12">
            <h3>Published</h3>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Length</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Impressions</th>
                        <th>Rate</th>
                        <th>Revenue Goal</th>
                        <th>Current Revenue</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for campaign in published_campaigns %}
                    <tr>
                        <td>
                            <a href="{{ campaign.url }}" target="_blank">{{ campaign.name }}</a>
                        </td>
                        <td>
                            {{ (campaign.end - campaign.start).days }} days
                        </td>
                        <td>
                            {{ campaign.start.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.end.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.impressions.count|thousands_seperator }} / {{ campaign.impressions.goal|thousands_seperator }}
                        </td>
                        <td>
                            {{ campaign.impressions.rate }}
                        </td>
                        <td>
                            {{ (campaign.impressions.goal * campaign.impressions.rate - (campaign.impressions.goal * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            {{ (campaign.impressions.count * campaign.impressions.rate - (campaign.impressions.count * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            <form class="form-published" action="" method="">
                                <input type="hidden" id="published-campaign-id" value="{{ campaign._id }}"/>
                                <button type="button" class="btn btn-default btn-default btn-sm btn-share-published" aria-label="Share" data-advertiser-email="{{ campaign.advertiserEmail }}" data-campaign-id="{{ campaign._id }}" data-toggle="modal" data-target=".campaign-share-modal">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-primary btn-sm btn-edit-published" aria-label="Edit">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-danger btn-sm btn-stop-published" aria-label="Stop">
                                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% endif %}


        <!-- PAUSED -->
        {% if paused_campaigns|length > 0 %}
        <div class="col-sm-12">
            <h3>Paused</h3>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Length</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Impressions</th>
                        <th>Rate</th>
                        <th>Revenue Goal</th>
                        <th>Current Revenue</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for campaign in paused_campaigns %}
                    <tr>
                        <td>
                            <a href="{{ campaign.url }}" target="_blank">{{ campaign.name }}</a>
                        </td>
                        <td>
                            {{ (campaign.end - campaign.start).days }} days
                        </td>
                        <td>
                            {{ campaign.start.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.end.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.impressions.count|thousands_seperator }} / {{ campaign.impressions.goal|thousands_seperator }}
                        </td>
                        <td>
                            {{ campaign.impressions.rate }}
                        </td>
                        <td>
                            {{ (campaign.impressions.goal * campaign.impressions.rate - (campaign.impressions.goal * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            {{ (campaign.impressions.count * campaign.impressions.rate - (campaign.impressions.count * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            <form class="form-stopped" action="" method="">
                                <input type="hidden" id="stopped-campaign-id" value="{{ campaign._id }}"/>
                                <button type="button" class="btn btn-default btn-default btn-sm btn-share-stopped" aria-label="Share" data-advertiser-email="{{ campaign.advertiserEmail }}" data-campaign-id="{{ campaign._id }}" data-toggle="modal" data-target=".campaign-share-modal">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-primary btn-sm btn-edit-stopped" aria-label="Edit">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-danger btn-sm btn-delete-stopped" aria-label="Delete">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-success btn-sm btn-play-stopped" aria-label="Play">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% endif %}


        <!-- DRAFTS -->
        {% if draft_campaigns|length > 0 %}
        <div class="col-sm-12">
            <h3>Drafts</h3>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Length</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Impressions</th>
                        <th>Rate</th>
                        <th>Revenue Goal</th>
                        <th>Current Revenue</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for campaign in draft_campaigns %}
                    <tr>
                        <td>
                            <a href="{{ campaign.url }}" target="_blank">{{ campaign.name }}</a>
                        </td>
                        <td>
                            {{ (campaign.end - campaign.start).days }} days
                        </td>
                        <td>
                            {{ campaign.start.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.end.strftime('%d-%b-%Y') }}
                        </td>
                        <td>
                            {{ campaign.impressions.count|thousands_seperator }} / {{ campaign.impressions.goal|thousands_seperator }}
                        </td>
                        <td>
                            {{  campaign.impressions.rate }}
                        </td>
                        <td>
                            {{ (campaign.impressions.goal * campaign.impressions.rate - (campaign.impressions.goal * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            {{ (campaign.impressions.count * campaign.impressions.rate - (campaign.impressions.count * campaign.impressions.rate * config['COMMISSION']|float))|to_currency }}
                        </td>
                        <td>
                            <form class="form-draft" action="" method="">
                                <input type="hidden" id="draft-campaign-id" value="{{ campaign._id }}"/>
                                <button type="button" class="btn btn-default btn-primary btn-sm btn-edit-draft" aria-label="Edit">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-primary btn-sm btn-delete-draft" aria-label="Delete">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                {% if campaign.assets and campaign.assets|length > 0 %}
                                <button type="button" class="btn btn-default btn-success btn-sm btn-play-draft" aria-label="Play">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>


    <!-- Change default rate Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Impression Rate</h4>
          </div>
            <form action="{{ url_for('publisher.update_impression_rate', pid=publisher._id) }}" method="POST">
              <div class="modal-body">
                  <div class="form-group">
                      {{ rateform.rate.label }}
                      {{ rateform.rate(class="form-control") }}
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Share Campaign Modal -->
    <div class="modal fade campaign-share-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="share-campaign-id"/>
                            <label for="share-advertiser-email">Share statistics:</label>
                            <input type="text" class="form-control" id="share-advertiser-email" name="share-advertiser-email" placeholder="E-mail"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-label="Cancel">Cancel</button>
                    <button type="button" class="btn btn-default btn-sm btn-share-campaign" aria-label="Share">Share</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}