{% extends "layout.html" %}

{% block style %}
    <style>
    .disable{
        z-index: 1000;
        background-color: lightgrey;
        opacity: 0.6;
        pointer-events: none;
    }

    </style>
{% endblock %}

{% block script %}
    <script>
    $( document ).ready(function() {
        $('#start_date').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        });

        $('#end_date').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        });

        $( "#impression_goal" ).keyup(function() {
            $( "#gross_revenue" ).val( $(this).val() * $( "#impression_rate").val());
            $( "#net_revenue" ).val( $( "#gross_revenue" ).val() * ($( "#gross_revenue" ).val() - parseFloat("{{ config['COMMISSION'] }}")));
        });

        $( "#impression_rate" ).keyup(function() {
            $( "#gross_revenue" ).val( $(this).val() * $( "#impression_goal").val());
            $( "#net_revenue" ).val( $( "#gross_revenue" ).val() - ($( "#gross_revenue" ).val() * parseFloat("{{ config['COMMISSION'] }}")));
        });

        // Init projected
        $( "#gross_revenue" ).val( $( "#impression_rate").val() * $( "#impression_goal").val());
        $( "#net_revenue" ).val( $( "#gross_revenue" ).val() - ($( "#gross_revenue" ).val() * parseFloat("{{ config['COMMISSION'] }}")));
    });
    </script>
{% endblock %}

{% block rows %}
    <div class="row">
        <div class="col-sm-12" style="padding-left:25%;padding-right:25%">
            {% if edit %}
            <form class="form-horizontal" action="{{ url_for('publisher.campaign_edit', pid=publisher._id, campaign_id=form.id.data) }}" method="POST">
            {% else %}
            <form class="form-horizontal" action="{{ url_for('publisher.campaign_create', pid=publisher._id ) }}" method="POST">
            {% endif %}

                <div class="form-group {{"has-error" if form.campaign_name.errors }}">
                    {{ form.campaign_name.label(class="control-label col-sm-4") }}
                    <div class="col-sm-8">
                        {{ form.campaign_name(class="form-control") }}
                    </div>
                </div>

                <div class="form-group {{"has-error" if form.url.errors }}">
                    {{ form.url.label(class="control-label col-sm-4") }}
                    <div class="col-sm-8">
                        {{ form.url(class="form-control") }}
                    </div>
                </div>

                <div class="form-group {{"has-error" if form.impression_rate.errors }}">
                    {{ form.impression_rate.label(class="control-label col-sm-4") }}
                    <div class="col-sm-8">
                        {% if published %}
                            {{ form.impression_rate(class="form-control disable") }}
                        {% else %}
                            {{ form.impression_rate(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {{"has-error" if form.impression_goal.errors }}">
                    {{ form.impression_goal.label(class="control-label col-sm-4") }}
                    <div class="col-sm-8">
                        {{ form.impression_goal(class="form-control") }}
                    </div>
                </div>

                <div class="form-group">
                     <label class="control-label col-sm-4" for="gross_revenue">Projected Gross Revenue</label>
                     <div class="col-sm-8">
                         <input class="form-control disable" id="gross_revenue" name="gross_revenue" type="text" value="">
                     </div>
                </div>

                <div class="form-group">
                     <label class="control-label col-sm-4" for="net_revenue">Projected Net Revenue</label>
                     <div class="col-sm-8">
                         <input class="form-control disable" id="net_revenue" name="net_revenue" type="text" value="">
                     </div>
                </div>

                <div class="form-group {{"has-error" if form.start_date.errors }}">
                    {{ form.start_date.label(class="control-label col-sm-4") }}
                    <div class="col-sm-8">
                        {% if published %}
                            {{ form.start_date(class="form-control disable") }}
                        {% else %}
                            {{ form.start_date(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {{"has-error" if form.end_date.errors }}">
                    {{ form.end_date.label(class="control-label col-sm-4") }}
                    <div class="col-sm-8">
                        {{ form.end_date(class="form-control") }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="button" class="btn btn-warning" value="Cancel">
                            {% if edit %}
                                <input type="submit" class="btn btn-primary btn-edit" value="Update">
                            {% else %}
                                <input type="submit" class="btn btn-primary btn-create" value="Create">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

