{% extends "mod_admin/campaign/assets.html" %}


{% block rows %}

<style>
    .row{
        padding-bottom: 22px;
    }

    td{
        padding-right: 11px;
        padding-left: 11px;
    }
</style>
<div align="center">
    <div class="row">
        <!-- LEADERBOARD 728x90 -->
        <div class="col-sm-12">
            <div id="dz-ad-container-728-90">
                <form action="/file-upload" id="dz-ad-728-90" class="dropzone">
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td>
                        <!-- FULL BANNER 468x60 -->
                        <div id="dz-ad-container-468-60">
                            <form action="/file-upload" id="dz-ad-468-60" class="dropzone">
                            </form>
                        </div>
                    </td>
                    <td>
                        <!-- HALF BANNER 234x60 -->
                        <div id="dz-ad-container-234-60">
                            <form action="/file-upload" id="dz-ad-234-60" class="dropzone">
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <!-- POP-UNDER 720x300 -->
        <div class="col-sm-12">
            <div id="dz-ad-container-720-300">
                <form action="/file-upload" id="dz-ad-720-300" class="dropzone">
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td>
                        <!-- HALF-PAGE AD 300x600 -->
                        <div id="dz-ad-container-300-600">
                            <form action="/file-upload" id="dz-ad-300-600" class="dropzone">
                            </form>
                        </div>
                    </td>
                    <td>
                        <!-- WIDE SKYSCRAPER 160x600 -->
                        <div id="dz-ad-container-160-600">
                            <form action="/file-upload" id="dz-ad-160-600" class="dropzone">
                            </form>
                        </div>
                    </td>
                    <td>
                        <!-- SKYSCRAPER 120x600 -->
                        <div id="dz-ad-container-120-600">
                            <form action="/file-upload" id="dz-ad-120-600" class="dropzone">
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td>
                        <!-- LARGE RECTANGLE 336x280 -->
                        <div id="dz-ad-container-336-280">
                            <form action="/file-upload" id="dz-ad-336-280" class="dropzone">
                            </form>
                        </div>
                    </td>
                    <td>
                        <!-- MEDIUM RECTANGLE 300x250 -->
                        <div id="dz-ad-container-300-250">
                            <form action="/file-upload" id="dz-ad-300-250" class="dropzone">
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td>
                        <!-- VERTICAL RECTANGLE 240x400 -->
                        <div id="dz-ad-container-240-400">
                            <form action="/file-upload" id="dz-ad-240-400" class="dropzone">
                            </form>
                        </div>
                    </td>
                    <td>
                        <!-- SQUARE POP-UP 250x250 -->
                        <div id="dz-ad-container-250-250">
                            <form action="/file-upload" id="dz-ad-250-250" class="dropzone">
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock rows %}