{% extends "layout.html" %}

{% block rows %}
    <div class="row">
        <div class="col-sm-12">
            <form action="{{ url_for('publisher.settings_adspaces', pid=publisher._id) }}" method="POST">
                <div class="form-group">
                    {{ form.available_ad_spaces.label }}
                    {{ form.available_ad_spaces() }}
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}