{% extends "layout.html" %}

{% block script %}
    <script>
    $(function() {
        $( ".btn-cancel" ).click(function() {
            $('.form-register').attr('method', 'GET');
            $('.form-register').attr('action', "{{ url_for('entrypoint.index') }}");
            $('.form-register').submit();
        });

        $( ".btn-register" ).click(function() {
            $('.form-register').attr('method', 'POST');
            $('.form-register').attr('action', "{{ url_for('entrypoint.publisher') }}");
            $('.form-register').submit();
        });
    });
    </script>
{% endblock %}

{% block rows %}
    <div class="row">
        <div class="col-sm-12" style="padding-left:25%;padding-right:25%">
            <form class="form-register" action="" method="">

                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.website.label }}
                    {{ form.website(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.registration_number.label }}
                    {{ form.registration_number(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.fiscal_number.label }}
                    {{ form.fiscal_number(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.phone.label }}
                    {{ form.phone(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.password_confirm.label }}
                    {{ form.password_confirm(class="form-control") }}
                </div>

                <div class="pull-right">
                    <input type="button" class="btn btn-danger btn-cancel" value="Cancel"/>
                    <input type="button" class="btn btn-primary btn-register" value="Register"/>
                </div>
            </form>
        </div>
    </div>
    <br>
{% endblock %}